<h1>Tribunes</h1>
<dl>
  <% @tribunes.each do |t| %>
  <dt><i class="icon-chevron-right"></i><%= t.name %></dt>
      <dd><i class="icon-zoom-in"></i><%=  t.posts.count %> posts, <%= t.links.count %> liens</dd>
      <dd><i class="icon-refresh"></i>Dernière mise à jour le <%= t.last_updated %></dd>
  <% end %>
</dl>
